node_modules/**/*
.idea/
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.iml
web-build/
venv/
node_modules/
.expo/
python-api/debug.log

# macOS
.DS_Store
.python-api/debug.log
.python-api/*.bin