node_modules/**/*
.idea/
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.iml
web-build/
venv/
node_modules/
.expo/
python-api/debug.log
.python-api/debug.log
.python-api/*.bin
/python-api/GoogleNews-vectors-negative300.bin

# macOS
.DS_Store
